.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-box {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: solid grey 1px;
    margin: auto;
}

.hide {
    display: none;
}